{{#if registration_error}}
    {{#each registration_error}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{this}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/each}}
{{/if}}

{{#if login_error}}
    {{#each login_error}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{this}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/each}}
{{/if}}