<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .nav-link {
            font-size: 22px;
        }
        .navbar-brand {
            font-size: 22px;
        }
    </style>
    <title>Task Manager</title>
  </head>
  <body>
    {{>landing_nav}}
    <div class="mt-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <form action="/users" method="POST" class="border p-5">
            <h1 class="display-4 text-center">Registration</h1>
            {{>error_messages}}
              <div class="form-group">
                <label for="name">Name</label>
                <input type="name" id="name" name="name" placeholder="Enter your name" class="form-control" value="{{#if name}}{{name}}{{/if}}">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter you email" class="form-control" value="{{#if email}}{{email}}{{/if}}">
              </div>
              <div class="form-group">
                <label for="password">Password <small class="form-text text-muted">Minimum of 7 characters</small></label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password">
              </div>
              <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input type="password" id="password2" name="password2" class="form-control" placeholder="Re-enter your password">
              </div>
              <button type="submit" class="btn btn-lg btn-warning">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>